
    .padleft{
        margin-left: 120px;
        display: inline-block;
        width: 80%;
    }
    .heading{
        font-size: 84px;
        color: #FFF;
        display: inline-block;
    }        
    .date{
        border: #FFF solid 4px;
        color: white;
        font-size: 48px;
        width: 500px;
        text-align: center;
    }
@media (max-width: 360px) {
      .heading{font-size:26px;}
      .date{font-size: 22px;}
}
@media (min-width: 377px) and (max-width:600px) {
  .heading{font-size:36px;}
  .date{font-size: 32px;}
}
@media (min-width: 361px) and (max-width:376px) {
  .heading{font-size:32px;}
  .date{font-size: 28px;}
}

@media (max-width: 600px) {
    .backvid{
      width: 96%;
      height:100%;
      z-index: 0;
      position: absolute;
      top:0;
      left:0;
    }
    .bnbut{
        position: fixed;
        bottom: 40px;
        right: 20px;
        background: red;
        border-radius: 100%;
        height:80px;
        width:80px;
    }
    .date{
        border: #FFF solid 4px;
        color: white;
        width: 60%;
        text-align: center;
    }    
    .padleft{
        margin-left: 10px;
    }
    .heading{
        color: #FFF;
        display: inline-block;
    }
    a,a:hover,a:visited{color:#FFF;}
}
@media (min-width:600px){.bnbut{display: none;}}
#home{
  background: url('img/ted1.jpg');
  background-attachment: fixed;
  height: 104%;
}
.heading.red{
    color: red;
}
.description{
    font-size: 24px;
}
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
    background: #000;
    color: red;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #000;
    color: red;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: red;
  }
.sponsor{
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
  padding: 4px;
}
.backvid{
  min-width:100%;
  min-height:100%;
  z-index: 0;
  position: absolute;
  top:0;
  left:0;
}